* {
  margin: 0;
}

html,body{
	background: #f0f0f0;
	font-family: 'Poiret One',cursive;
	margin: 0;
    margin-bottom: 40px;
    height: 100%;

}

footer {
  height: 4rem;
  background-color: #e2e2e2;
}

.wrapper {
  min-height: calc(100% - 4rem);
}



h1{
	color: orange;
}
h2,h3,h4,h5{
	color: #444;

}


.page{
	background: #fff;
	border-radius: 1em;
	margin: 1em;
	min-height: 500px;
	padding: 1em;
}
.icon-home{
	color: #666;
	font-size: 60px;
	margin: 20px;
}
.btn-home-admin{
	font-size: 25px;
	
}




